  {% load static %}
  <!-- Footer -->
  <footer class="container-fluid bg-opacity-50 bg-secondary ">
    <div class="container">
     <div class="row mt-3 ">
       <div class="col-4 mt-3">
         <img src="{%static 'img/logo.png'%}" alt="log" class="footerlogo">
         <i class="mt-3 d-block">Sağlık ve güzellik ile ilgili her şey burada. </i>
       </div>
       <div class="col-2 mt-4">
         <img src="{%static 'footer/ciltbakim.jpg'%}" alt="ciltbakim" class="footeresim">
         
       </div>
       <div class="col-2 mt-4">
         <img src="{%static 'footer/sacbakimi.webp'%}" alt="sacbakimi" class="footeresim">
        
       </div>
       <div class="col-2 mt-4">
         <img src="{%static 'footer/agizvedisbakımı.webp'%}" alt="agizvedisbakimi" class="footeresim">
        
       </div>
      
       <div class="col-2 mt-3 mb-2 ">
        <a href="https://goo.gl/maps/6LEned6CKY3jqsxC8" target="_blank"><img src="{%static 'footer/harita.png'%}" alt="" class="footerharita"></a>
         
       </div>
     </div>
     <div class="row m-auto text-center ">
       <hr>
       <div class="col-lg-2 col-md-6 col-sm-6">
         <h6 >Müşteri Servisi</h6>
           <ul class="navbar-nav">
               <li><a href="" class="nav-link ">Gizlilik ve Güvenlik</a></li>
               <li><a href="" class="nav-link ">Kişisel Verilerin Korunması</a></li>
               <li><a href="" class="nav-link ">Mesafeli Satış Sözleşmesi</a></li>
              
           </ul>
       </div>
       <div class="col-lg-2 col-md-6 col-sm-6">
        <h6>Ekstra Bilgiler</h6>
           <ul class="navbar-nav">
               <li><a href="" class="nav-link ">Sık Sorulan Sorular</a></li>
               <li><a href="" class="nav-link ">Müşteri Hizmetleri</a></li>
             
           </ul>
       </div>
       <div class="col-lg-2 col-md-6 col-sm-6">
        <h6>Yardım</h6>
           <ul class="navbar-nav">
               <li><a href="" class="nav-link">Müşteri Hizmetleri</a></li>
               
           </ul>
       </div>
       <div class="col-lg-2 col-md-6 col-sm-6">
        <h6 >İçerikler</h6>
           <ul class="navbar-nav">
               <li><a href="{%url 'anasayfa'%}" class="nav-link ">Anasayfa</a></li>
               <li><a href="{%url 'iletisim'%}" class="nav-link ">İletişim</a></li>
               <li><a href="{%url 'uyegiris'%}" class="nav-link ">Üye Ol/Giriş Yap</a></li>
               
           </ul>
       </div>
       <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
         <h4>Kampanyalardan Haber Almak İçin</h4>
          <input type="text" placeholder="E-Mail Giriniz" style="min-width: 80%;" class="h-25"><button style="background-color:rgba(30, 5, 54);color:white;width:12%;height: 25%;border:0;">➝</button>
          <p>Kampanyalarımızdan haber almak için lütfen e/posta adresinizi giriniz.</p>
          <a class="text-black" href="tel:05078741762"><i class="fa-solid fa-phone"></i></a>
          <a class="text-black ms-4" href="mailto:meldatkn9@gmail.com"><i class="fa-solid fa-envelope"></i></a>
          <a href="https://www.instagram.com/" target="_blank" class="ms-4"><i class="fa-brands fa-instagram text-black"></i></a>
          <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidHIifQ%3D%3D%22%7D" target="_blank"><i class="fa-brands fa-twitter ms-3 text-black"></i ></a>
          <a href="https://tr-tr.facebook.com/" target="_blank" ><i class="fa-brands fa-facebook ms-3 text-black"></i ></a>
         
       </div>
       
     </div>
     
       
     </div>
     
     
    </footer>